<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper">
  <div class="title">
  	<h1> {{ title }} </h1>
  </div>
  <div>
    <app-editor (sizeEvent)="receiveSize($event)" (radiusEvent)="receiveRadius($event)" (colorEvent)="receiveColor($event)" [galleryArray]="galleryArray"></app-editor>
  </div>
  <div>
    <app-output [size]="size" [radius]="radius" [color]="color"></app-output>
  </div>
  <div class="gallery-outer">
    <app-gallery [galleryArray]="galleryArray"></app-gallery>
  </div>
</div>
